@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    /*Paleta*/
    --CorPrincipal: #1F0000;
    --CorDestaque: #D8B062;
    /*Config da fonte*/
    --Fonte: "Poppins", sans-serif;
    --CorTexto: white;
    --TamanhoTexto: 18px;
}
body
{
    font-family: var(--Fonte);
    color: var(--CorTexto)
}
/*Inicio da estilização da navbar*/
nav
{
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
    background-color: var(--CorPrincipal);
}
nav ul
{
    display: flex;
    gap: 70px;
    list-style-type: none;
}f
nav ul li a
{
    text-decoration: none;
    color: var(--CorTexto);
}
nav ul li a:hover
{
    color: var(--CorDestaque);
}
nav img
{
    max-width: 180px;
    height: auto;
}
/*Fim da estilização da navbar*/

body{
    background-color: #ffffff;
}

/*Inicio da estilização do footer*/
/* Fundo da página (branco) */
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Footer */
.footer {
    background-color: #3a0d0d;        
    color: #f5d7b9;                   
    padding: 40px 0;
    font-family: sans-serif;
}

/* Grupo principal*/
.footer-group:first-of-type {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    gap: 40px;
}

/* Links */
.footer-coluna h3 {
    margin-bottom: 15px;
    color: #f5d7b9;
}

.footer-coluna ul {
    list-style: none;
    padding: 0;
}

.footer-coluna li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre ícone e texto */
}

/* Ícones */
.footer-coluna img {
    width: 18px;
    height: 18px;
}

.footer-coluna .footer-logo {
    width: 140px;
    height: auto;
    margin-bottom: 20px;
}
.footer-coluna ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* Parte inferior do footer */
.footer-group:last-of-type {
    max-width: 1200px;
    margin: 30px auto 0 auto;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #b8905e;

    display: flex;
    justify-content: space-between;
    color: #b8905e;
    font-size: 14px;
}

.back-top {
    color: #b8905e;
    text-decoration: none;
}

/*estilização capa do cardápio*/

body {
    background-color:#1F0000;
    margin: 0;
}

.toposite {
    background-color: #1F0000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a,
nav a:hover {
    margin-left: 20px;
    font-weight: 500;
    
    transition: 0.3s;
}

nav a:visited {
    color: #FFFFFF;
}

nav a:active {
    color: #d4b46a;
}


.titulo {
    text-align: center;
    color: #d4b46a;
    font-size: 45px;
    margin: 40px 0;
}


.imagens-doces {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.imagens-doces img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bebidas img {
    width: 100%;
    border-radius: 10px;
}

.imagens-doces img:hover,
.bebidas img:hover {
    transform: scale(1.09);
}