
  <footer>
    <section class="logo-info">
      <div class="logo-div">
        <img src="../../assets/img/logos/LogoVertical.png" alt="Logo Doce Encanto" class="logo" />
      </div>
      <section class="informacoes">
        <section class="informacao-area">
          <h2>CONTATO</h2>
          <div class="itemArea">
            <img src="../../assets/img/icones/telefoneIcone.png" alt="Ícone de telefone" class="icone-informacao" />
            <span class="conteudo">(77) 99849-7238</span>
          </div>
          <div class="itemArea">
            <img src="../../assets/img/icones/emailIcone.png" alt="Ícone de email" class="icone-informacao" />
            <span class="conteudo">confeitaria@gmail.com</span>
          </div>
          <div class="itemArea">
            <img src="../../assets/img/icones/enderecoIcone.png" alt="Ícone de endereço" class="icone-informacao" />
            <span class="conteudo">Rua encanto, nº 307</span>
          </div>
        </section>

        <nav class="links-uteis">
          <h2>LINKS ÚTEIS</h2>
          <ul>
            <li><a href="../../pages/cardapio.html" class="link-dourado">Cardápio</a></li>
            <li><a href="../../pages/eventos.html" class="link-dourado">Eventos</a></li>
            <li><a href="../../pages/sobre.html" class="link-dourado">Quem Somos</a></li>
          </ul>
        </nav>

        <section class="informacao-area">
          <h2>REDES SOCIAIS</h2>
          <div class="itemArea">
            <img src="../../assets/img/icones/instagramIcone.png" alt="Ícone do Instagram" class="icone-informacao" />
            <span class="conteudo"><a href="https://www.instagram.com/jeovana_mirand/" class="link-dourado">Instagram</a></span>
          </div>
          <div class="itemArea">
            <img src="../../assets/img/icones/facebookIcone.png" alt="Ícone do Facebook" class="icone-informacao" />
            <span class="conteudo"><a href="https://www.instagram.com/liviaalkds/" class="link-dourado">Facebook</a></span>
          </div>
          <div class="itemArea">
            <img src="../../assets/img/icones/whatsappIcone.png" alt="Ícone do WhatsApp" class="icone-informacao" />
            <span class="conteudo"><a href="https://whats.link/confeitdoceencanto" class="link-dourado">WhatsApp</a></span>
          </div>
        </section>
      </section>
    </section>

    <section class="copyright">
      copyright© 2025 Doce Encanto
      <a href="#topo" class="link-branco">
      <div class="botaoTopo">
        <p>Volte ao topo</p>
        <img src="../../assets/img/icones/seta.png" class="icone-informacao" />
      </div>
      </a>
    </section>
  </footer>

