/* ==================== IMPORT & RESET ==================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --CorPrincipal: #1F0000;
    --CorDestaque: #D8B062;
    --CorTexto: white;
    --Fonte: "Poppins", sans-serif;
}

/* ==================== BASE ==================== */

body {
    font-family: var(--Fonte);
    background-color: var(--CorPrincipal);
    color: var(--CorTexto);
}

ul, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}


.titulo {
    text-align: center;
    color: #d4b46a;
    font-size: 24pt;
    margin: 40px 0;
    transition: 2s ease;
}

.titulo-cardapio:hover {
    transform: translateY(-5px);
    letter-spacing: 2px;
    color: #f5dca0;
}

.imagens-doces {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.item-img-cardapio {
    width: 300px;
    border-radius: 12px;
}

.bebidas img,
.imagens-doces img {
    width: 100%;
    border-radius: 10px;
    transition: .2s ease;
}

.bebidas img:hover,
.imagens-doces img:hover {
    transform: scale(1.09);
}

.botao {
    display: block;
    margin: 20px auto;
    padding: 12px 30px;
    background-color: var(--CorDestaque);
    color: #533e1f;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s ease;
}

.botao:hover {
    transform: translateY(-5px);
    letter-spacing: 2px;
}

.linha-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 20px;
}

.linha {
    flex: 1;
    max-width: 400px;
    height: 2px;
    background-color: #d4b46a;
}

.botao-secao {
    padding: 10px 25px;
    background-color: #d4b46a;
    border-radius: 8px;
    font-weight: bold;
    transition: .3s ease;
}

.botao-secao:hover {
    background-color: #f0d398;
}

/*Doces finos*/

.logo-horizontal {
    width: 180px;
}

.titulo-secao {
    width: 390px;
    margin: 75px;
    padding-bottom: 5px;
    color: #d4b46a;
    font-size: 29px;
    font-weight: 350;
    border-bottom: 1px solid #D4AF37;
}

.aviso {
    margin: 75px 75px 10px;
}

.item-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin: 5rem;
    background-color: #360909;
    border-radius: 20px;
    padding: 1.5rem;
}

.item-card a {
    padding: .5rem;
    color: white;
    background-color: #D8B062;
    border-radius: 20px;
}

.item-footer {
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.setaretorno {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

/*bolos*/

.item {
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 1200px;
    padding: 20px;
    margin: 30px auto;
    background-color: #3a0f0f;
    border-radius: 12px;
}

.item-img {
    width: 190px;
    border-radius: 10px;
}

.item-info p {
    margin: 5px 0;
    line-height: 1.4;
}

.item-preco {
    margin: 10px 0;
    font-weight: bold;
    color: #f3d488;
}

.buy-button {
    padding: 8px 18px;
    background-color: #e6c472;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #533e1f;
    transition: .2s;
}

.buy-button:hover {
    background-color: #f8dda0;
}

/*carrinho*/

.container {
    width: 90%;
    margin: 0 auto;
}

.aviso-topo {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
    opacity: .8;
}

.titulo .destaque {
    color: #f8d08a;
}

.icon-carrinho {
    width: 45px;
    margin-left: 10px;
}

.preco {
    font-size: 18px;
    font-weight: bold;
}

.item-extra {
    text-align: right;
}

.quantidade {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
    background-color: #d8b462;
    color: #4b2800;
    font-size: 28px;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qtd {
    font-size: 15px;
    margin-bottom: 5px;
}

.sucesso {
    font-size: 14px;
    color: #f2d79c;
}

.resumo {
    margin-top: 20px;
    padding: 20px;
    background-color: #3a0000;
    border-radius: 8px;
}

.resumo h3 {
    color: #f2d79c;
    margin-bottom: 10px;
}

.total {
    color: #f2d79c;
    font-weight: bold;
}

.carrinho-finalizar {
    float: right;
    margin-top: -60px;
    padding: 10px 20px;
    background-color: #e6c472;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



@media (max-width: 768px) {

    .item {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .item-img {
        width: 65%;
        max-width: 220px;
    }

    .item-info h2 {
        font-size: 18px;
        line-height: 1.3;
        word-break: break-word;
    }

    .item-extra {
        text-align: center;
    }

    .icon-carrinho {
        width: 35px;
    }

    .titulo {
        font-size: 22pt;
    }

    .item-card {
        flex-direction: column;
        text-align: center;
        margin: 2rem 1rem;
    }

    .item-card img {
        width: 70%;
    }

    .carrinho-finalizar {
        float: none;
        margin: 20px auto 0;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .titulo {
        font-size: 32pt;
    }
}

@media (min-width: 1024px) {
    .titulo {
        font-size: 48pt;
    }
    .imagens-doces {
        flex-direction: row;
        justify-content: space-between;
    }
    .item-img-cardapio {
        width: 450px;
    }
}
