.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; 
  background-color: var(--vermelhoEscuro);
  position: relative;
}

.logo {
  width: 150px;
}

/* Botão hambúrguer */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: var(--dourado);
  border-radius: 2px;
}

.nav-links {
  display: none;         
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0px;
  background: #360909;
  padding: 15px;
  gap: 2rem;
  border-radius: 10px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px; /* Distância da linha em relação ao texto */
  width: 0;
  height: 2px;
  background-color: var(--dourado);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: var(--dourado);
}

.nav-links a:hover::after {
  width: 100%;
}

/* Quando o menu estiver aberto */
.nav-links.open {
  display: flex;   
}

/* ================= RESPONSIVO ================= */

@media (min-width: 768px) {
  .navbar {
    padding: 10px 0;
  }
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex !important;
    flex-direction: row;
    gap: 50px;
    font-size: 9pt;
    position: static;
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .nav-links li {
    margin: 0 10px;
  }
}

@media (min-width: 1330px) {
  .nav-links {
    gap: 70px;
    font-size: 9pt;

  }
  
}

@media (min-width: 1500px) {
  .navbar {
    padding: 10px 0;
  }
}
