
<nav class="navbar">
  <img src="../../assets/img/logos/LogoHorizontal.png" class="logo" />

  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" id="nav-links">
    <li><a href="../../index.html">Home</a></li>
    <li><a href="../../pages/sobre.html">Quem Somos?</a></li>
    <li><a href="../../pages/cardapio.html">Cardápio</a></li>
    <li><a href="../../pages/eventos.html">Eventos</a></li>
    <li><a href="../../pages/carrinho.html">Carrinho</a></li>
  </ul>
</nav>

<script src="../../assets/js/script.js"></script>
