<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
  <link rel="stylesheet" href="components/nav/nav.css">
</head>
<body>
<nav class="navbar">
  <img src="../../assets/img/logos/LogoHorizontal.png" class="logo" />

  <div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="nav-links" id="nav-links">
    <li><a href="../../index.html">Home</a></li>
    <li><a href="../../pages/sobre.html">Quem Somos?</a></li>
    <li><a href="../../pages/cardapio.html">Cardápio</a></li>
    <li><a href="../../pages/eventos.html">Eventos</a></li>
    <li><a href="../../pages/carrinho.html">Carrinho</a></li>
    <li><a href="#">Feedback</a></li>
  </ul>
</nav>

  <script>
    // Script para abrir/fechar o menu hambúrguer
    const hamburger = document.getElementById('hamburger');
    const navLinks = document.getElementById('nav-links');

    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle('open');
    });
  </script>
</body>
</html>
